<% content_for :content do %>
<h1><a href="/">ExplainCommand</a></h1>
<form action="/explain" method="get">
  <input id="top-search" name="cmd" type="text" autocapitalize="off" autocorrect="off" value="<%= @cmd %>">
</form>
<h2 id="command">
  <% @explanation.command.tokens.map do |token| %>
  <span data-token-id="<%= token.id %>"><%= token.original_text %></span>
  <% end %>
</h2>
<% @explanation.annotations.each do |annotation| %>
<div class="annotation" data-token-ids="<%= annotation.token_ids.join(" ") %>">
  <code><%= annotation.referenced_text %></code>
  <blockquote><%= annotation.text %></blockquote>
  <% if annotation.source_link.present? %>
  <a href="<%= annotation.source_link %>"><%= annotation.source_description %></a>
  <% end %>
</div>
<% end %>
<p>See something that's wrong? <a href="https://github.com/cstack/explaincommand">File an issue or open a PR</a></p>
<% end %>
<%= render template: "layouts/application" %>