<% content_for :content do %>
<h2 id="command">
  <% @explanation.command.tokens.map do |token| %>
  <span data-token-id="<%= token.id %>"><%= token.original_text %></span>
  <% end %>
</h2>
<% @explanation.annotations.each do |annotation| %>
<div class="annotation" data-token-ids="<%= annotation.token_ids.join(" ") %>">
  <code><%= annotation.referenced_text %></code>
  <blockquote><%= annotation.text %></blockquote>
</div>
<% end %>
<p><a href="<%= @explanation.source_link %>"><%=  @explanation.source_description %></a></p>
<p>See something that's wrong? <a href="https://github.com/cstack/explaincommand">File an issue or open a PR</a></p>
<% end %>
<%= render template: "layouts/application" %>