<% content_for :content do %>
<h1><a href="/">ExplainCommand</a></h1>
<form action="/explain" method="get">
  <input id="top-search" name="cmd" type="text" autocapitalize="off" autocorrect="off" value="<%= @cmd %>">
</form>
<h2><%= @cmd %></h2>
<% @explanation.annotations.each do |annotation| %>
<code><%= annotation.referenced_text %></code>
<blockquote><%= annotation.text %></blockquote>
<% end %>
<% end %>
<%= render template: "layouts/application" %>